name: Tests
on:
  push:
  pull_request:

    # edtited - because base branch can be modified
    # synchronize - update commits on PR
    types: [opened, synchronize, edited]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    name: Tests, ${{ matrix.os }}
    steps:
      - name: Fix CRLF on Windows
        if: runner.os == 'Windows'
        run: git config --global core.autocrlf false

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      # Increase the pagefile size on Windows to aviod running out of memory
      - name: Increase pagefile size on Windows
        if: runner.os == 'Windows'
        run: powershell -command .github\workflows\SetPageFileSize.ps1

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.1

      # Source: https://github.com/actions/cache/blob/main/examples.md#go---modules
      - name: Go Cache
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Test
        shell: bash
        run: ./build_and_test.sh

  stability-test-fast:
    runs-on: ubuntu-latest
    name: Fast stability tests
    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.1

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install spectred
        run: go install ./...

      - name: Run fast stability tests
        working-directory: stability-tests
        run: ./install_and_test.sh
